
* {
    box-sizing: border-box;
}
body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background: linear-gradient(0deg, #b56f51 0%, #cc8d8d 40%, #ecc8a3 67%, #ffffff  93%);
}
header {
    display: flex;
}
.photo {
    width: 280px;
    height: 280px;
}
.photo > img{
    max-width: 100%;
    max-height: 100%;
}
.contacts {
    position: relative;
    padding-top: 20px;

}
.text-contacts {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
main {
    display: flex;
    flex-direction: row;
}
.left {
    display: flex;
    flex-direction: column;
    border-right: #000000 solid 1px;
}   
.right {
        display: flex;
        flex-direction: column;
}
footer {
    display: flex;
    justify-content: space-around;
    height: 50px;
    align-items: center;
    color: #000000;
    border-top:#000000 solid 1px;
}
.footer-icon {
    position: relative;
    height: 30px;
}